<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
  <meta http-equiv="Content-Type" content="text/html" charset="UTF-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<body bgcolor="#ffff8f">
<div th:fragment="content">
<div style="text-align:center">
<p >
<h2 >Add a New Topic </h2>
</p>
</div>
    <div id="demo1" style="float:left" >

    </div>

  <div style="float:right">
    <form  align="right" name="logoutForm" method="post" action="\logout">
      <label class="logoutLblPos">
        <input name="submit2" type="submit" id="submit2" value="Log out"><br/><br/><br/>
      </label>
    </form>
  </div>
  <!--<div sec:authorize="hasRole('USER')">Text visible to user ...<span th:text ="${#authentication.getPrincipal().getUsername()}"></span></div>
  <div sec:authorize="hasRole('ADMIN123')">Text visible to admin.</div>-->

<form  id='add-form' action="/topics"   method="post"  th:object="${topic}" onsubmit="return setAddDetails(this)" >
    <br/><br/> <input type="text" name="id" placeholder="id" th:field="*{id}"><br/><br/><br/>
  <input type="text" name="name" placeholder="name" th:field="*{name}"><br/><br/><br/>
  <input type="text" name="description" placeholder="description" th:field="*{description}"><br/><br/><br/>
  <input type="submit" name="add" value="add">
</form>
</div>
<script src="js/custom.js"></script>
<script type="text/javascript" src="http://code.jquery.com/jquery-1.4.3.min.js" ></script>
</body>
</head>
</html>