<html>
<head>
<body bgcolor="gray">
<div style="text-align:center">
<p >
<h2 >Welcome to Admin Page </h2>
</p>
</div>

<div style="text-align:right">
<p >
<form id="switchuser">
  <input type="submit" name="action" value="Switch to User">
</form>
</p>
</div>


<form id="add">
  <input type="submit" name="action" value="add">
</form>

<form id="update">
 <input type="submit" name="action" value="update">
</form>

<form id="delete">
 <input type="submit" name="action" value="delete">
</form>
</body>
</head>
</html>