<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
<body bgcolor="gray">
<div th:fragment="content">
<div style="text-align:center">
<p >
<h2 >Welcome to Admin Page </h2>
</p>
    <div id="demo1" style="float:left" >

    </div>
</div>
    <div style="float:right">
        <form align="right" name="logoutForm" method="post" action="\logout">
            <label class="logoutLblPos">
                <input name="submit2" type="submit" id="submit2" value="Log out"><br/><br/><br/>
            </label>
        </form>
    </div>
<div style="text-align:right">
<p >
<form id="switch-user" action="/switchtouser" onsubmit="return showDiv(this)">
  <input type="submit" name="action" value="Switch to User"  ><br/><br/>
</form>
</p>
</div>

    <div sec:authentication="name"></div> <!-- works fine -->
    <div sec:authentication="principal.authorities"></div> <!-- works fine -->

    <div  sec:authorize="isAuthenticated()" >true</div> <!-- works fine -->
    <span th:text="${#authorization.expression('isAuthenticated()')}"></span> <!-- works fine -->

    <div th:text="${#vars.role_user}"> Admin</div> <!--Works fine -->
    <div  sec:authorize="${hasRole('USER')}" > IS USER </div> <!-- Doesnt work -->
    <div  sec:authorize="hasAuthority('USER')" > IS ADMIN </div> <!-- Doesnt work -->
    <div th:text="${#authorization.expression('hasRole(''ADMIN'')')} ">check</div> <!-- Doesnt work -->
    <div th:text="${#authorization.expression('hasRole(#vars.role_admin)')}"></div> <!-- Doesnt work -->

    <div id="userDiv"   sec:authorize="hasAuthority('USER')" >
        <form id="get" action="\topics" method="get">
            <input type="submit" name="get" value="get">
        </form>

        <form id="search" name="search" action="/searchTopic.html">
            <input type="submit" name="search" value="search">
        </form>
    </div>

<form name="add" action="/addTopic.html">
  <input type="submit" name="add" value="add">
</form>

<form id="update" name="update" action="/updateTopic.html">
 <input type="submit" name="update" value="update">
</form>

<form id="delete" name="delete" action="/deleteTopic.html">
 <input type="submit" name="delete" value="delete">
</form>
</div>
<script src="js/custom.js"></script>
<script type="text/javascript" src="http://code.jquery.com/jquery-1.4.3.min.js" ></script>
</body>
</head>
</html>