<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
<body bgcolor=" #a6b259 ">
<div th:fragment="content">
<div style="text-align:center">
<p >
<h2 >Welcome to User Page </h2>
</p>
</div>

    <div style="float:right">
        <form align="right" name="logoutForm" method="post" action="\logout">
            <label class="logoutLblPos">
                <input name="submit2" type="submit" id="submit2" value="Log out"><br/><br/><br/>
            </label>
        </form>
    </div>

<form id="get" action="\topics" method="get">
  <input type="submit" name="get" value="get">
</form>

<form id="search" name="search" action="/searchTopic.html">
 <input type="submit" name="search" value="search">
</form>
</div>
<script src="js/custom.js"></script>
<script type="text/javascript" src="http://code.jquery.com/jquery-1.4.3.min.js" ></script>
</body>
</head>
</html>